@model IEnumerable<Model.Domain.Llamada>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registrar Nueva Llamada", "Create", "Llamada", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente_CUIT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente_CUIT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Llamada }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Llamada }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Llamada })
        </td>
    </tr>
}

</table>
