@model IEnumerable<Model.Custom.RecursoGrid>
@{
    Layout = null;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

<h2 class="text-center">Listado de Recursos de la Tarea: @ViewBag.TareaGrid.NomTarea </h2>

<br />

<form>
    <div class="form-inline row center-block" style="display:flex; align-items:center; justify-content:center;">
        <label class="col-xs-2" style="margin-left:1rem;"><b>Realizado por:</b></label>
        <div class="col-xs-2">
            <input class="form-control" type="text" style="border:0;" readonly value="@Common.CurrentUser.Get.Name @Common.CurrentUser.Get.LastName" />
        </div>
        <label class="col-xs-2" style="margin-left:1rem;"> <b> Fecha:</b></label>
        <div class="col-xs-2">
            <input class="form-control" type="text" style="border:0;" readonly value="@DateTime.Now" />
        </div>
        <label class="col-xs-1" style="margin-left:1rem;"> <b>Usuario:</b> </label>
        <div class="col-xs-2">
            <input class="form-control" type="text" style="border:0; width: 120%;" readonly value="@Common.CurrentUser.Get.Email" />
        </div>
    </div>
</form>

<br />
<form>

    <div class="form-inline row">
        <label class="col-md-2"><b>Descripción de la Tarea:</b></label>
        <div class="col-sm-10">
            <textarea class="form-control" style="border:0; background-color:white;" readonly cols="40" rows="2">@ViewBag.TareaGrid.Descripcion</textarea>
        </div>
    </div>
    <br />
    <div class="form-inline row">
        <label class="col-md-1"><b>Fecha de Inicio:</b></label>
        <div class="col-md-2">
            <input class="form-control" type="text" style="border:0; background-color:white;" readonly value="@ViewBag.TareaGrid.FechInicio.ToString("dd/MM/yyyy")" />
        </div>
        <label class="col-md-1"><b>Fecha de Fin:</b></label>
        <div class="col-md-2">
            <input class="form-control" type="text" style="border:0; background-color:white;" readonly value="@ViewBag.TareaGrid.FechFin.ToString("dd/MM/yyyy")" />
        </div>
        <label class="col-md-1"><b>Avance:</b></label>
        <div class="col-md-2">
            <input class="form-control" type="text" style="border:0; background-color:white;" readonly value="@(ViewBag.TareaGrid.Avance*100)%" />
        </div>
    </div>
    <br />
    <div class="form-inline row">
        <label class="col-md-2"><b>Proyecto al que pertenece:</b></label>
        <div class="col-md-3">
            <input class="form-control" type="text" style="border:0; background-color:white;" readonly value="@ViewBag.TareaGrid.TituloProy" />
        </div>
        <label class="col-md-2"><b>Costo de la Tarea:</b></label>
        <div class="col-md-3">
            <input class="form-control" type="text" style="border:0; background-color:white;" readonly value="@ViewBag.TareaGrid.Costo" />
        </div>
    </div>

</form>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApyNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presupuesto)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApyNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Presupuesto)
            </td>
        </tr>
    }

</table>

<hr />

<form>
    <div class="form-inline row center-block">
        <label class="col-xs-2" style="margin-left:1rem;"><b>Cantidad de Registros:</b></label>
        <div class="col-xs-2">
            <input class="form-control" type="text" style="border:0;" readonly value="@Model.Count()" />
        </div>
    </div>
</form>

<script>
    function printHTML() {
        if (window.print) {
            window.print();
        }
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        printHTML();
    });
</script>