@model Model.Custom.ProyectosGrid

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProyectosGrid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechFin)
        </dd>

     
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Proyecto }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Volver a la Lista", "Index", "Proyectos", new { @class = "btn btn-primary" })
</p>
