@model Model.Custom.FacturaGrid

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Factura</h2>

<h3>Estas seguro de Eliminar esta Factura?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Cliente)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn" /> |
            <a class="btn" href="javascript:void(0);" onclick="history.go(-1);">Volver a la Lista</a>
        </div>
    }
</div>
