@model Model.Custom.DetalleGrid

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrecioU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

    </dl>
</div>
    @*<p>
        @Html.ActionLink("Imprimir", "Reporte", "Detalle", new { @class = "btn", @target = "_blank" }) |
    </p>*@
<div>
    <a class="btn" href="javascript:void(0);" onclick="history.go(-1);">Volver a la Lista</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
