@model Model.Custom.ClienteGrid


@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Cliente</h2>

<h3>¿Estás seguro de que quieres eliminar este Cliente?</h3>
<div>
    @*<h2>Delete</h2>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condicion_Tributaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condicion_Tributaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Volver a la Lista", "Index", "Cliente", new { @class = "btn btn-primary" })
    </div>
    }
</div>
