@model Model.Custom.ClienteGrid

@{
    ViewBag.Title = "Detalles";
}


<div>
    <h2> Detalle de Cliente</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApyNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApyNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

    </dl>
</div>
<div>
    <a class="btn" href="javascript:void(0);" onclick="history.go(-1);">Volver a la Lista</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
