@model IEnumerable<Model.Custom.ClienteGrid>

    @{
    ViewBag.Title = "Cliente";
    }

    <h2>Clientes</h2>

    <p>
        @Html.ActionLink("Crear Nuevo Cliente", "Create", "Cliente", new { @class = "btn" })
        @Html.ActionLink("Generar Reporte", "Reporte", "Cliente", new { @class = "btn", @target = "_blank" })
    </p>

    @using (Html.BeginForm("Buscar", "Cliente", FormMethod.Get, new { @class = "form-inline"}))
{
    <p>
        Nombre del Cliente: <i style="color:black;">@Html.TextBox("palabra")</i>
        <input class="filtrar" type="submit" value="Filtrar" />
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApyNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectosAsociados)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApyNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.FechaNacimiento)*@
            @item.FechaNacimiento.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProyectosAsociados)
        </td>

        <td class="botones">
            @Html.ActionLink("Editar", "Edit", new { id = item.Id_Cliente }, new { @class = "btn" }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id_Cliente }, new { @class = "btn" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_Cliente }, new { @class = "btn" }) |
            @Html.ActionLink("Proyectos Asociados", "GetProyectos", new { id = item.Id_Cliente }, new { @class = "btn" }) |
        </td>
    </tr>

    }
    </table>
    <div>
    @Html.ActionLink("Volver al Inicio", "Index", "Home", null , new{ @class = "btn" } )
    </div>

